<div class="container fade-in">
  <div class="card m-3" style="width: 18rem">
    <div class="card-body">
      <form class="needs-validation" #personForm="ngForm" novalidate>
        <div class="m-3 text-center">
          <h4 style="font-family: samim" class="card-title">رستوران یام یام</h4>
        </div>

        <div class="form-floating m-3 col" style="font-family: samim">
          <input
            [class.is-invalid]="
              this.person.invalidUser() || !this.person.userName
            "
            (click)="this.person.invalidUser()"
            (keypress)="this.person.keyWord($event)"
            class="form-control"
            #name="ngModel"
            name="username"
            [(ngModel)]="person.userName"
            type="text"
            class="form-control"
            minlength="3"
            maxlength="10"
            id="floatingInput"
            placeholder=" "
            [minlength]="2"
          />
          <div
            class="text-danger ml-3"
            *ngIf="!person.userName"
            style="font-size: small; font-family: samim"
          >
            یوزر نیم اجباری است
          </div>
          <div
            class="text-danger ml-3"
            style="font-size: small; font-family: samim"
          >
            {{ this.person.usermessage }}
          </div>

          <label for="validationCustom01" for="floatingInput">یوزر نیم</label>
        </div>

        <div class="form-floating m-3 col" style="font-family: samim">
          <input
            [class.is-invalid]="!this.person.loginpassword"
            class="form-control"
            #name="ngModel"
            name="loginPassword"
            [(ngModel)]="person.loginpassword"
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder=" "
            required
          />
          <div
            class="text-danger ml-3"
            *ngIf="!person.loginpassword"
            style="font-size: small; font-family: samim"
          >
            رمز عبور اجباری است
          </div>

          <label for="floatingPassword">رمز عبور</label>
        </div>
        <div class="m-3" style="font-family: samim">
          <button
            (click)="person.clear()"
            class="btn btn-outline-primary text-center m-2"
          >
            انصراف
          </button>
          <button
            [disabled]="
              !this.person.invalidUser() && !this.person.loginpassword
            "
            (click)="check()"
            class="btn btn-warning text-center text-light m-2"
          >
            تایید
          </button>
        </div>
        <div class="card-footer text-center" style="font-family: samim">
          <p>
            اکانت نداری؟<a
              class="card-link text-decoration-none"
              style="font-family: samim"
              [routerLink]="'/register'"
              >کلیک کن</a
            >
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
