<div class="container fade-in">
  <div class="card p-3 m-3" style="width: 18rem">
    <div class="card-body">
      <form class="needs-validation" #personForm="ngForm" novalidate>
        <div class="m-3 text-center">
          <h4 style="font-family: samim , sans-serif" class="card-title">رستوران یام یام</h4>
        </div>
        <div class="input-group mb-0 mt-3  ">
          <span class="input-group-text" id="inputGroupPrepend">@</span>

          <div class="form-floating " style="font-family: samim , sans-serif">
            <input
              [class.is-invalid]="
                this.person.invalidUser() || !this.person.userName"
              (click)="this.person.invalidUser()"
              (keypress)="this.person.keyWord($event)"
              class="form-control"
              #name="ngModel"
              name="username"
              [(ngModel)]="person.userName"
              type="text"
              class="form-control"
              minlength="3"
              maxlength="10"
              id="floatingInput"
              placeholder=" "
              [minlength]="2"
            />
            
            <label for="validationCustom01" for="floatingInput">یوزر نیم</label>
          </div>
        </div>
        <div class="mt-0 ms-5">

        </div>
        <div
          class="text-danger ml-3"
          *ngIf="!person.userName"
          style="font-size: small; font-family: samim , sans-serif"
        >
          یوزر نیم اجباری است
        </div>
        <div
          class="text-danger ml-3"
          style="font-size: small; font-family: samim , sans-serif"
        >
          {{ this.person.usermessage }}
        </div>

        <div class="form-floating me-1 ms-0 m-3 col" style="font-family: samim , sans-serif">
          <input
            [class.is-invalid]="!this.person.loginpassword || this.person.loginpassword.length < 8"
            class="form-control "
            #name="ngModel"
            name="loginPassword"
            [(ngModel)]="person.loginpassword"
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder=" "
            required
          />
          <div
            class="text-danger ml-3"
            *ngIf="!person.loginpassword"
            style="font-size: small; font-family: samim , sans-serif"
          >
            رمز عبور اجباری است
          </div>
          <div class="text-danger ml-3"
          style="font-size: small; font-family: samim , sans-serif"
          id="loginPass"
          *ngIf="this.person.loginpassword && this.person.loginpassword.length < 2 "
          >
          تعدعد کمه
         </div>
          <label for="floatingPassword">رمز عبور</label>
        </div>
        <div class="mt-0 mb-1 me-2 ms-2" style="font-family: samim , sans-serif">
          <button
            (click)="person.clear()"
            class="btn btn-outline-primary text-center m-2"
          >
            انصراف
          </button>
          <button
            (click)="this.check()"
            [disabled]="!this.person.invalidUser() && !this.person.loginpassword || this.person.loginpassword.length < 8"
            class="btn btn-warning text-center text-light m-2"
          >
            تایید
          </button>
        </div>
        <div class="card-footer text-center" style="font-family: samim , sans-serif">
          <p>
            اکانت نداری؟<a
              class="card-link text-decoration-none"
              style="font-family: samim , sans-serif"
              [routerLink]="'/register'"
              >کلیک کن</a
            >
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
