<div class="container fade-in">
  <div class="card min-vw-80 mb-0 m-3 p-3"style="font-family: samim">
    <div class="cad-body">
      <form class="needs-validation" #personForm="ngForm" novalidate>
        <div class="row ">
          <div class="form-floating col m-3" style="font-family: samim,sans-serif">
            <input
              [class.is-invalid]="this.person.invalidName() || !this.person.fullName"
              (click)="this.person.invalidName()"
              (keypress)="this.person.keyWord($event)"
              name="name"
              [(ngModel)]="this.person.fullName"
              type="text"
              class="form-control"
              placeholder=" "
              aria-label="what is your name"
              id="floatingInput"
            />
            <div class="text-danger " style="font-size: small;font-family: samim" *ngIf="!person.fullName">
              نام ضروری است
            </div>
            <div class="text-danger" style="font-size: small; font-family: samim" >
              {{this.person.namemessage}}
            </div>
            <label class="ms-2" for="floatingInput">نام خود را وارد کنید</label>
          </div>

          <div class="input-group m-3 me-1 col">
          
              <span class="input-group-text " id="inputGroupPrepend">@</span>
          
            <div class="form-floating">
              <input
                [class.is-invalid]="this.person.invalidUser() || !person.userName"
                aria-describedby="inputGroupPrepend"
                [(ngModel)]="person.userName"
                name="user"
                type="text"
                minlength="3"
                maxlength="10"
                class="form-control"
                placeholder=" "
                aria-label="enter your user name"
              />
              <div class="text-danger d-flex input-group-prended" *ngIf="!person.userName" style="font-size: small; font-family: samim;">
                یوز نیم اجباری است
              </div>
              <div
                class="text-danger "
                style="font-size: small">
                {{ person.usermessage }}
              </div>
              <label class="ms-2 formcontrol" for="floatingName"
                >یوز نیم خود را وارد کنید</label>
            </div>
          </div>

        </div>

        <div class="d-flex row ">
          <div class="input-group m-3 col" style="font-family: samim">
            <span class="input-group-text" id="inputGroupPrepend">+98</span>
            <div class="form-floating">
              <input
                (click)="this.person.invalidPhone()"
                [class.is-invalid]="this.person.invalidPhone()"
                (keypress)="this.person.keyNumber($event)"
                name="name"
                [(ngModel)]="this.person.phone"
                type="text"
                class="form-control"
                placeholder=" "
              />
              <div class="text-danger col m-auto" *ngIf="!this.person.phone" style="font-size: small;font-family: samim">
                {{ this.person.phonemessage }}
              </div>
              <label class="ms-2" for="floatingInput">شماره تلفن</label>
            </div>
          </div>
          <div
            class="form-floating m-3 col-md-6"
            style="font-family: samim"
          >
            <input
              [class.is-invalid]="!this.person.email"
              ngModel
              name="email"
              [(ngModel)]="person.email"
              type="email"
              class="form-control"
              placeholder=" "
              required
            />
            <div
              *ngIf="!this.person.email"
              class="text-danger col"
              style="font-size: small"
            >
              ایمیل ضروری است
            </div>
            <label class="ms-2" for="floatingInput">ایمیل</label>
          </div>
        </div>

        <div class="form-floating m-3 col">
          <input
            [class.is-invalid]="this.person.invalidPass()"
            (click)="this.person.invalidPass()"
            [(ngModel)]="this.person.password"
            name="pass"
            type="password"
            minlength="8"
            maxlength="15"
            class="form-control"
            placeholder=" "
            name="password"
          />
          <div class="text-danger " style="font-size: small;font-family: samim">
            {{ this.person.passmessage }}
          </div>
          <label class="ms-2" for="floatingPassword">یک رمز عبور بسازید</label>
        </div>

        <div class="form-floating m-3 col">
          <input
            [class.is-invalid]="this.person.invalidPass()"
            (click)="this.person.invalidPass()"
            [(ngModel)]="this.person.againpass"
            name="pass"
            type="password"
            minlength="8"
            maxlength="15"
            class="form-control"
            placeholder=" "
          />
          <div class="text-danger " style="font-size: small">
            {{ this.person.againmessage }}
          </div>
          <label class="ms-2" for="floatingPassword"
            >رمز عبور خود را تایید کنید</label
          >
        </div>

        <div class="col-md text-center">
          <div class="form-check form-check-inline m-3 col" name="user">
            <input
              [(ngModel)]="person.boos"
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="checkCustomer"
              value:bolean="false"
            />

            <label class="form-check-label" for="checkCustomer">
              من مشتری هستم
            </label>
          </div>
          <div class="form-check form-check-inline m-3 col">
            <input
              [(ngModel)]="person.boos"
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="checkBoos"
              value="true"
            />

            <label class="form-check-label" for="checkBoos">
              من مدیر رستوران هستم
            </label>
          </div>
        </div>

        <div *ngIf="person.boos" class="form-floating d-flex row">
          <div class="form-floating m-3 col" style="font-family: samim">
            <input
              [class.is-invalid]="!this.person.nameOfResturant"
              name="name"
              [(ngModel)]="person.nameOfResturant"
              type="text"
              class="form-control"
              placeholder="floatingInput"
              aria-label="what is your name"
              id="floatingInput"
            />
            <div class="text-danger " *ngIf="!this.person.nameOfResturant" style="font-size: small">
              نام رستوران معتبر نیست
            </div>
            <label class="ms-2" for="floatingInput">نام رستوران</label>
          </div>

          <div class="col m-3 form-floating"style="font-family:samim;">
            <input
              [class.is-invalid]="this.person.invalidExp()"
              [class.is-invalid]="!this.person.experience"
              (click)="this.person.invalidExp()"
              min="0"
              max="30"
              oninput="validity.valid||(value='');"
              [(ngModel)]="person.experience"
              name="experience"
              class="form-control"
              minlength="5"
              maxlength="30"
              id="FloatingNumber"
              type="number"
            />
            <div *ngIf="!person.experience" class="text-danger"style="font-family:samim ; font-size: small;">
                سابقه کاری اجباری است
            </div>
            <div
              class="text-danger "
              
              style="font-size: small;font-family:samim;">
              {{ this.person.expmessage }}
            </div>
            <label class="ms-2" for="FloatingNumber">سابقه فعالیت</label>
          </div>
        </div>

        <div class="m-3 text-center justify-content-center">
          <button
            (click)="person.clear()"
            class="btn btn-outline-primary text-center m-2"
          >
            انصراف
          </button>
          <button
            class="btn btn-warning text-center text-light m-2"
          >
            تایید
          </button>
        </div>
        <div class="card-footer">
          <div class="text-center">
          <p>از قبل اکانت داری؟
            <a [routerLink]="'/login'" class="card-link text-decoration-none" style="font-family: sans-serif">کلیک کن</a>
          </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
