<!DOCTYPE html>
    <html>
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg bg-warning z-0 shadow-lg" dir="rtl">
            <div class="container-fluid fonta" >

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>  

                <div class="dropdown ps-5 pe-5 me-3" id="navbarSupportedContent">
                    <a href="#" class="d-flex align-items-center text-light text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="../../assets/img_avatar.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">ادمین</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu darkblue text-small me-3 ms-3 shadow">
                        <li><a class="dropdown-item text-cream" href="#">تنظیمات حساب</a></li>
                        <li><a class="dropdown-item text-cream" href="#">کیف پول</a></li>
                        <li><a class="dropdown-item text-cream" [routerLink]="'/login'">بازگشت به صفحه اصلی</a></li>
                        <li>
                            <hr class="dropdown-divider text-light">
                        </li>
                        <li><a class="dropdown-item text-cream" href="#">خروج</a></li>
                    </ul>
                </div>

                <div class="text-light mt-2 " id="navbarSupportedContent" style="font-size: 1.5em;" >
                   <p>سامانه سفارش غذا</p>
                </div>
            </div>
        </nav>
        
        <!-- sidebar -->
        <div class="container-fluid fonta"dir="ltr">
            <div class="row flex-nowrap ">
                <div class=" col-auto col-md-3 col-xl-2 px-sm-2 px-0 darkblue ">
                    <div class=" d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100">
                        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start">
                            <li class="nav-item">
                                <a href="#" class="nav-link align-middle px-0 text-lb">
                                    <i class="fs-4 bi-person-vcard"></i> <span class="ms-1 d-none d-sm-inline p-2">کاربران</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 align-middle text-lb">
                                    <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline p-2">درخواست ها</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 align-middle text-lb">
                                    <i class="fs-4 bi-buildings"></i> <span class="ms-1 d-none d-sm-inline p-2">رستوران ها</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 align-middle text-lb">
                                    <i class="fs-4  bi-cart-check"></i> <span class="ms-1 d-none d-sm-inline p-2">مشتریان</span> </a>
                            </li>
                        </ul>
                        
                    </div>
                </div>
                <div class="col py-3">
                    Content.....
                </div>
            </div>
        </div>
    </html>