.yellow{
    background-color: #FFC107;
}
.cream{
    background-color: #FFEECB;
}
.text-cream  {
    color: #FFEECB;
    
}
.text-cream:hover{
    color: #000000;
}
.text-lb{
    color: #C3FCF2;
}
.text-lb:hover{
    color: #6dfce2;
}


.darkblue{
    background-color: #2F4858;
}
